body{
    display: flex;
    justify-content: center;
    background-color: #0D324D;
    font-size: 20px;
    color: white;
}
#container{
    display:flex;
    flex-direction: column;
    width: 400px;
    background-color: #DEF6CA;
    padding: 50px;
    gap: 20px;
    border-radius: 30px;
}

#display, #operators, #numbers, #equalsClear{
align-self: center;
display: flex;
gap: 5px;}

button{
    padding: 20px;
    width: 90px;
    background-color: #F4D35E;
    color: #7B0828;
    font-weight: bolder;
    border-radius: 20px;border-style: dashed;
    border-color: #7B0828;
}
.digits{
    background-color: #F8BDC4;
}
#display{
    background-color: #A1CDF1;
    padding: 20px;
    align-self: stretch;
    border-radius: 20px;border-style: dashed;
    border-color: #7B0828;
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    height: 30px;
}

#numbers{
    flex-wrap: wrap;
}
#numbers>* {
    flex: 1 1 120px;
}
#equalsClear>button{
    background-color: #60A561;
}
#clear{
    background-color: #F8BDC4;
}